system-customerdb-api/src/main/mule/customerId-GET-PUT-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="customerId-GET-implementation_Flow" doc:id="d282a752-ce31-4be5-964f-ca97b2c33b78" >
		<logger level="DEBUG" doc:name="GET-CustId-FlowStarted-Logger" doc:id="8782384f-afec-4741-b8f8-87fa836bc362" />
		<db:select doc:name="Select CustomerID" doc:id="fbd7a5dd-d420-474d-b535-55b94a0246b1" config-ref="Database_Config">
			<db:sql >SELECT  firstName,emailID,lastName,custID,phoneNo FROM
                Customer4.dbo.customer WHERE custID = :customerId</db:sql>
			<db:input-parameters ><![CDATA[#[{'customerId': attributes.uriParams.'customerId'}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Customer_Exist?" doc:id="0344a97c-6fa6-4909-8e97-08996f947c22" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="CustomerDetails" doc:id="3af0db03-3821-46bd-a02d-a48ecdffc8f4">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	customerId: payload[0].custID,
    firstName: payload[0].firstName,
    emailId: payload[0].emailID,
    lastName: payload[0].lastName,
    phoneNumber: payload[0].phoneNo

}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="CustomerLogger" doc:id="f1596469-e3dd-4296-8b36-004fdb16a0bc" message="#['Successfully got the record for customerID']"/>
				<set-payload value="#[payload]" doc:name="CustomerPayload" doc:id="37072eb9-838d-43e4-8061-e08d6c984af3" />
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="701f7b3f-d50b-497e-aedd-26cde888fd80" description="CustomerID not found" type="CUSTOMER:NOTFOUND"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="customerId-PUT-implementation_Flow" doc:id="44f7fcd3-43ff-48b7-a165-e060fb6f94c0" >
		<logger level="DEBUG" doc:name="PUT-CustId-FlowStarted-Logger" doc:id="55ecd425-a69f-4fbc-b15d-71d5e3bd5aac" />
		<ee:transform doc:name="Transform Message" doc:id="ddd6c390-3a3f-4242-822e-a22887460026">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	custID    : attributes.uriParams.customerId,
	firstName : payload.firstName,
	emailID   : payload.emailId,
	lastName  : payload.lastName,
	phoneNo   : payload.phoneNumber
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<db:update doc:name="Update Customer" doc:id="863d68f2-1dcd-44a9-8502-1abb4838dfc1" config-ref="Database_Config">
					<db:sql>UPDATE dbo.customer SET firstName = :firstName,
													emailID= :emailId,
													lastName = :lastName,
													phoneNo = :phoneNumber
    										WHERE custID = :customerId</db:sql>
					<db:input-parameters><![CDATA[#[{
	'customerId' : payload['custID'] as Number,
    'firstName' : payload['firstName'] as String,
    'emailId' : payload['emailID'] as String,
    'lastName' : payload['lastName'] as String,
    'phoneNumber' : payload['phoneNo'] as String
}]]]></db:input-parameters>
				</db:update>
		<choice doc:name="customer_updated?" doc:id="052fd909-c1ad-417d-9302-5e4afe3ea609" >
			<when expression="#[payload.affectedRows == 1]">
				<logger level="DEBUG" doc:name="success" doc:id="e44ffd3b-a2dc-45b3-bd82-8c798370d032" message="updated Successfuly!!!"/>
				<ee:transform doc:name="UpdatedCustomer" doc:id="765dece0-aa18-4127-96aa-b8b72928c0f8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<raise-error doc:name="Raise error" doc:id="20472ca3-4230-466c-b828-608c30c880aa" type="CUSTOMER:NOTFOUND" description="CustomerID doesnot exist for update!!!!"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="76938032-6643-400c-ad17-6a6a99f7b336" type="ANY" when="#[error.description]">
				<ee:transform doc:name="Transform Message" doc:id="1159bef4-0c0c-44d8-b9f0-28be2064dd5c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.description,
	"error-type":error.errorType
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
