system-customerdb-api/src/main/mule/POST-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="POST-implementation_Flow" doc:id="775bec87-2388-4fab-9e1d-6675c25cc6f5" >
		<ee:transform doc:name="Transform Message" doc:id="7ae93467-1203-4ca1-a40b-9ac5494d0a50" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	firstName: payload.firstName,
	emailID: payload.emailId,
	lastName: payload.lastName,
	custID: payload.customerId,
	phoneNo: payload.phoneNumber
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="502afd54-519f-45b5-abb5-f4f04cc0f161" config-ref="Database_Config">
			<db:sql >INSERT into customer4.dbo.customer (firstName,emailID,lastName,custID,phoneNo) VALUES (:firstName, :emailId, :lastName, :customerId, :phoneNumber);</db:sql>
			<db:input-parameters ><![CDATA[#[{
	customerId: payload.custID,
firstName: payload.firstName,
emailId: payload.emailID,
lastName: payload.lastName,
phoneNumber: payload.phoneNo

}]]]></db:input-parameters>
		</db:insert>
		<choice doc:name="Choice" doc:id="dffa12d7-f312-47a7-a4ed-645a8dacef27" >
			<when expression="#[payload.affectedRows&gt;0]">
				<ee:transform doc:name="Transform Message" doc:id="7aae8dd6-972b-4599-a112-6cbc7488481d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="85bcb1a9-0104-4df6-987b-77912757eea2" type="CUSTOMER:NOTCREATED" description="Duplicate Customer ID is not valid.Primary_Key Violation Error"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="fa8a7c4d-d13f-4722-8e37-a27463250db8" message="Customer is created successfully"/>
	</flow>
</mule>
